COMPOSE_PROJECT_NAME=djnightlight-staging
APP_DATA_ROOT=/mnt/user/appdata/djnightlight-staging
APP_PORT=3081
POSTGRES_DB=nightlight_staging
POSTGRES_USER=nightlight_staging
POSTGRES_PASSWORD=change-me
NUXT_PUBLIC_SITE_URL=https://dev.djnightlight.nl
NUXT_APP_VERSION=staging
PROXY_NETWORK=proxynet
